*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.slider{
    background-color: blue;
}
.caritasimg{
    height: 280px;
    overflow: hidden;
}

/* .owl-carousel{
    margin-top: 300px;
} */

/* .owl-theme .owl-nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.owl-theme .owl-nav [class*=owl-]{
    color: #ffffff!important;
    font-size: 80px!important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: rgba(0, 0, 0, 0);


} */
